<header>
  <h1>Http</h1>
</header>

<button class="btn btn-outline-primary btn-sm my-3" (click)="getUsers()">Afficher les utilisateurs</button>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.phone }}</td>
    <td>
      <app-address [address]="user.address"></app-address>
    </td>
  </tr>
  </tbody>
</table>
