<h1>Présentation</h1>

<h3>Affichage</h3>
<section>
  <p> 1 + 2 = {{ 1 + 2 }} </p>
  <p>
    <small>
      Opérateur moustache: permet de faire interpolation de chaine
    </small>
  </p>

  <p> Hello {{ name }} </p>

  <p>{{ product.name }} @ {{ product.price }} &euro;</p>

  <p>{{ html }}</p> <!-- le html est auto échappé: xss -->

  <!-- syntaxe [] = directive -->
  <p [innerHTML]="html"></p>

  <p>
    <small>
      Tous les attributs HTML,
      existe sous la formation directive Angular.<br/>
      HTML = &lt;p id="test"&gt; ... &lt;/p&gt; <br/>
      Angular = &lt;p [id]="'test'"&gt; ... &lt;/p&gt;
    </small>
  </p>

  <img src="{{ img }}" alt="NBA All Star Game"/>

  <!-- <img [src]="img" alt="NBA All Star Game"/> -->
</section>

<h3>Les Evénements</h3>
<section>

  <p>
    <button (click)="clicked()"> Cliquez ici</button>
  </p>

  <p>
    <a href="#" (click)="confirmation($event)">Confirmer</a>
  </p>

  <!-- Single Page Application -->
  <!-- App type SPA charge toutes les vues avec 1 seule page html -->
  <!--
    Par conséquent la page html, doit être rechargé le moins
    souvent possible (ne pas utiliser le protocol http)
  -->
  <!--
    Pour récupérer un évenement, on utilise une variable $event
  -->

</section>

<h3>Two Way Data Binding</h3>
<p>ngModel = Banana in box [()]</p>

<section>

  <input type="text" placeholder="Entrer votre message" [(ngModel)]="message"/>
  <button (click)="displayMessage()">Voir le message</button>
  <p>{{ message }}</p>

</section>

<h3>Variables de template</h3>
<p>#nom_de_la_variable = document.querySelector()/document.getElementById()</p>
<p>detectChange() => responsable de la mise à jour de la vue</p>
<ul>
  <li>Event</li>
  <li>ngModel</li>
  <li>Formulaire (event)</li>
</ul>

<section>
  <!-- HTMLInputElement -->
  <input type="text" placeholder="Entrer votre message" #input (keyup.enter)="0" />
  <dl>
    <dt>Type:</dt>
    <dd>{{ input.type }}</dd>
    <dt>Placeholder:</dt>
    <dd>{{ input.placeholder }}</dd>
    <dt>Value:</dt>
    <dd>{{ input.value }}</dd>
  </dl>

</section>

<h3>ngFor (ngForOf)</h3>
<section>

  <ul>
    <li *ngFor="let name of liste; index as key">{{ name }} <small>({{ key }})</small></li>
  </ul>

</section>










